@*@using HBL_MLDV_APP.CustomHelper*@
@{
    Layout = null;
}

<!DOCTYPE html>
<style type="text/css">
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/browserWarning.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body>
    @*<img src="~/Content/images/Login-background-image.png" style="opacity:0.5; z-index:-1" />*@

    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="login-form">
            <div>
                <img src="~/Content/images/logo.jpeg" style="background-color:white; position: relative;left: 15px;width: 300px;" />

                <hr />
                <div style="background-color: #191a4a; padding: 20px;" class="login-manjan">
                    <h2 class="text-center" style="color:white;">Login</h2>
                    <div class="form-group">
                        <input id="txtusername" name="username" type="text" class="form-control" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                        <input id="txtpassword" name="password" type="password" class="form-control" placeholder="Password" required="required">
                    </div>


                    <div class="form-group">


                        @*@Html.GoogleCaptcha()*@
                        @*@Html.InvalidGoogleCaptchaLabel("Captcha is not valid !")*@

                    </div>

                    <div class="form-group">
                        <button id="btnlogin" type="submit" class="btn btn-primary btn-block"><p style="font-size: 25px; margin:auto; font-weight: bold; color: #191a4a; text-align: center">Log in</p></button>
                    </div>
                    <br />
                    <h6 class="text-center" style="color:white;">Powered by <a href="http://techmatically.com" target="_blank" style="color:white;"> TechMatically </a></h6>
                </div>
            </div>
            @{

                if (TempData["ResultLogin"] != null)
                {
                    <label class="tab-danger">@TempData["ResultLogin"]</label>
                }

            }


        </div>
                }



        
                
</body>
</html>
<script src="/Scripts/jquery-3.5.0.js"></script>
<script>
    $(document).on('keypress', function (e) {
        if (e.which == 13) {
            $('form').submit();
        }
    });
    function GenerateURL() {
        $.ajax({
            url: '/Login/GenerateURL/',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data: JSON.stringify({ whereClause: whereClause }),
            data: { UID: $("#username :selected").val() },
            success: function (data) {
                var url = "";
                if (data != []) {
                    url = "<a href='http://localhost:57551/Login/GetLogin?du=" + data.dynmc_url + "'>Click here to Login Infobits</a>";
                }
                $("#txturl").html(url);
            },

            error: function () {
                alert('error occred')
            }
        });
    }
</script>