USE [TechIdentity_TS]
GO
/****** Object:  Schema [security]    Script Date: 6/11/2022 5:09:05 PM ******/
CREATE SCHEMA [security]
GO
/****** Object:  StoredProcedure [security].[sp_users_urls_parent_child]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [security].[sp_users_urls_parent_child]
	-- Add the parameters for the stored procedure here
	@usersk int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select p.activityid, 0 as user_sk, 1 as can_view,2 as can_add,4 as can_edit,8 as can_del,
p.activitytitle,p.activityurl,0 activityparentid, '' as activitydisc, p.activiticon,p.module_nme--,p.activityattr
from security.mnu_activity p
where p.activityparentid = 0 
and p.activityid in (select vu.activityparentid from security.vu_user_urls as vu where vu.user_sk = @usersk)
union all
select vur.* from security.vu_user_urls vur
where vur.user_sk in(@usersk) and  vur.activityparentid <> 0;
END



GO
/****** Object:  UserDefinedFunction [dbo].[MyStringAgg]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MyStringAgg](@SelectForXmlAuto XML,@Delimiter NVARCHAR(10))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    RETURN STUFF((
             SELECT @Delimiter + A.nd.value(N'(@*)[1]',N'nvarchar(max)')
             FROM @SelectForXmlAuto.nodes(N'/*') AS A(nd)
             FOR XML PATH(''),TYPE
           ).value(N'.',N'nvarchar(max)'),1,LEN(@Delimiter),'');
END



GO
/****** Object:  Table [dbo].[branch_mst]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branch_mst](
	[br_code] [int] IDENTITY(1,1) NOT NULL,
	[br_desc] [nvarchar](20) NULL,
	[created_by] [int] NULL,
	[last_updated_by] [int] NULL,
	[row_version] [int] NULL,
	[record_status] [int] NULL,
 CONSTRAINT [PK_branch_mst] PRIMARY KEY CLUSTERED 
(
	[br_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[country_mst]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country_mst](
	[country_sk] [int] IDENTITY(1,1) NOT NULL,
	[country_desc] [nvarchar](50) NULL,
	[region_sk] [int] NULL,
	[row_version] [int] NULL,
	[created_by] [int] NULL,
	[create_dt_tme] [datetime] NULL,
	[updated_by] [int] NULL,
	[update_dt_tme] [datetime] NULL,
	[record_status] [int] NULL,
	[flag_id_sk] [int] NULL,
	[img_url] [nvarchar](50) NULL,
	[call_cde] [nvarchar](10) NULL,
	[iban_len] [int] NULL,
	[currency_sk] [int] NULL,
	[phne_no_len] [int] NULL,
 CONSTRAINT [country_mst_pkey] PRIMARY KEY CLUSTERED 
(
	[country_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[status_mst]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_mst](
	[status_sk] [int] IDENTITY(1,1) NOT NULL,
	[status_desc] [nvarchar](200) NULL,
	[row_version] [int] NOT NULL,
	[created_by] [int] NULL,
	[create_dt_tme] [datetime] NULL,
	[updated_by] [int] NULL,
	[update_dt_tme] [datetime] NULL,
	[record_status] [int] NOT NULL,
 CONSTRAINT [status_mst_pkey] PRIMARY KEY CLUSTERED 
(
	[status_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[login_history]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[login_history](
	[lgn_hst_sk] [int] NOT NULL,
	[usr_sk] [int] NULL,
	[cntr] [int] NULL,
	[row_version] [int] NULL,
	[dynmc_url] [nvarchar](50) NULL,
	[Login_DTE_TME] [datetime] NULL,
	[Logout_DTE_TME] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [security].[mnu_activity]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[mnu_activity](
	[activityid] [int] IDENTITY(1,1) NOT NULL,
	[activitytitle] [nvarchar](50) NULL,
	[activityurl] [nvarchar](500) NULL,
	[activityparentid] [int] NULL,
	[activitydisc] [nvarchar](500) NULL,
	[activiticon] [nvarchar](20) NULL,
	[module_nme] [nvarchar](200) NULL,
	[activityattr] [nvarchar](200) NULL,
 CONSTRAINT [PK_mnu_activity] PRIMARY KEY CLUSTERED 
(
	[activityid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[role_lvl_can_do]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[role_lvl_can_do](
	[role_cando_sk] [int] IDENTITY(1,1) NOT NULL,
	[activityid] [int] NOT NULL,
	[can_view] [int] NULL,
	[can_add] [int] NULL,
	[can_edit] [int] NULL,
	[can_del] [int] NULL,
	[created_by] [int] NULL,
	[last_updated_by] [int] NULL,
	[row_version] [int] NULL,
	[record_status] [int] NULL,
	[role_sk] [int] NULL,
	[created_on] [datetime] NULL,
	[updated_on] [datetime] NULL,
 CONSTRAINT [PK_role_lvl_can_do] PRIMARY KEY CLUSTERED 
(
	[role_cando_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[role_mst]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[role_mst](
	[role_sk] [int] IDENTITY(1,1) NOT NULL,
	[role_desc] [nvarchar](100) NULL,
	[status_sk] [int] NULL,
	[record_status] [int] NULL,
	[created_by] [int] NULL,
	[created_on] [datetime] NULL,
	[row_version] [int] NULL,
	[updated_by] [int] NULL,
	[updated_on] [datetime] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_role_mst] PRIMARY KEY CLUSTERED 
(
	[role_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[tbl_logging]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [security].[tbl_logging](
	[log_id] [int] NOT NULL,
	[doc_typ_sk] [int] NULL,
	[script_log] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [security].[token_expire]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[token_expire](
	[row_sk] [int] IDENTITY(1,1) NOT NULL,
	[user_sk] [int] NOT NULL,
	[token_payload] [nvarchar](max) NULL,
	[token_issue_dtme] [datetime] NULL,
	[is_token_exp] [smallint] NULL,
	[token_expired_by] [int] NULL,
	[token_mark_invalid_dtme] [datetime] NULL,
	[remarks] [nvarchar](1) NULL,
	[row_version] [int] NULL,
 CONSTRAINT [token_pkey] PRIMARY KEY CLUSTERED 
(
	[row_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [security].[user_br_mapping]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[user_br_mapping](
	[mapping_sk] [int] IDENTITY(1,1) NOT NULL,
	[br_code] [int] NULL,
	[user_sk] [int] NULL,
	[is_default] [bit] NULL,
	[record_status] [int] NULL,
	[row_version] [int] NULL,
	[created_on] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_on] [datetime] NULL,
	[updated_by] [int] NULL,
 CONSTRAINT [PK_user_br_mapping] PRIMARY KEY CLUSTERED 
(
	[mapping_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[user_login_lock]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[user_login_lock](
	[lgn_lck_sk] [int] IDENTITY(1,1) NOT NULL,
	[usr_sk] [int] NULL,
	[lck_dt_tm] [datetime] NULL,
	[row_version] [int] NULL,
 CONSTRAINT [PK_user_login_lock] PRIMARY KEY CLUSTERED 
(
	[lgn_lck_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[user_lvl_can_do]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[user_lvl_can_do](
	[user_cando_sk] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[activityid] [int] NOT NULL,
	[can_view] [int] NULL,
	[can_add] [int] NULL,
	[can_edit] [int] NULL,
	[can_del] [int] NULL,
	[created_by] [int] NULL,
	[last_updated_by] [int] NULL,
	[row_version] [int] NULL,
	[record_status] [int] NULL,
	[role_id] [int] NULL,
	[created_on] [datetime] NULL,
	[updated_on] [datetime] NULL,
 CONSTRAINT [PK_user_lvl_can_do] PRIMARY KEY CLUSTERED 
(
	[user_cando_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[user_role_mapping]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[user_role_mapping](
	[usr_rol_mapping_sk] [int] IDENTITY(1,1) NOT NULL,
	[user_sk] [int] NOT NULL,
	[role_sk] [int] NOT NULL,
	[created_on] [datetime] NULL,
	[created_by] [int] NULL,
	[row_version] [int] NULL,
 CONSTRAINT [PK_user_role_mapping] PRIMARY KEY CLUSTERED 
(
	[usr_rol_mapping_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[users]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [security].[users](
	[id] [int] NOT NULL,
	[username] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[employee_id] [int] NULL,
	[default_module] [int] NULL,
	[user_level] [varchar](max) NULL,
	[last_login] [datetime] NULL,
	[last_update] [datetime] NULL,
	[created] [datetime] NULL,
	[user_ful_name] [nvarchar](100) NULL,
	[usr_creatd_id] [int] NULL,
	[del_dte] [datetime] NULL,
	[remarks] [nvarchar](500) NULL,
	[pswrd_expiry_dte] [datetime] NULL,
	[comp_id] [int] NULL,
	[role_id] [int] NULL,
	[row_version] [int] NULL,
	[record_status] [int] NULL,
	[userid] [bigint] NULL,
	[jobstitle_id] [bigint] NULL,
	[status_sk] [int] NULL,
	[mt_code] [int] NULL,
	[creat_appr_flg] [nvarchar](50) NULL,
	[mobile_cntry_cde] [nvarchar](50) NULL,
	[mobile_nbr] [nvarchar](50) NULL,
	[updated_by] [int] NULL,
	[updated_on] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[dynmc_url] [nvarchar](50) NULL,
	[is_login] [bit] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [security].[users_aprv]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [security].[users_aprv](
	[user_sk] [bigint] NOT NULL,
	[username] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[last_login] [datetime] NULL,
	[updated_on] [datetime] NULL,
	[created_on] [datetime] NULL,
	[mt_code] [int] NULL,
	[user_full_name] [varchar](100) NULL,
	[creat_appr_flg] [varchar](50) NULL,
	[created_by] [int] NULL,
	[del_dte] [datetime] NULL,
	[remarks] [varchar](500) NULL,
	[pswrd_expiry_dte] [datetime] NULL,
	[row_version] [int] NULL,
	[record_status] [int] NULL,
	[status_sk] [int] NULL,
	[mobile_cntry_cde] [varchar](5) NULL,
	[mobile_nbr] [varchar](30) NULL,
	[updated_by] [int] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [users_aprv_pkey] PRIMARY KEY CLUSTERED 
(
	[user_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [security].[vu_mnu_activity]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_mnu_activity]
 AS
 SELECT mnu_activity.activityid,
    mnu_activity.activitytitle,
    mnu_activity.activityurl,
    mnu_activity.activityparentid,
    mnu_activity.activitydisc,
    mnu_activity.activiticon AS activityicon,
    mnu_activity.module_nme,
    mnu_activity.activityattr
   FROM security.mnu_activity

GO
/****** Object:  View [security].[vu_role_mst]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_role_mst]
 AS
 SELECT role_mst.role_sk,
    role_mst.role_desc,
    role_mst.status_sk,
    role_mst.record_status,
    role_mst.created_by,
    role_mst.created_on,
    role_mst.row_version,
    role_mst.updated_by,
    role_mst.updated_on
   FROM security.role_mst;

GO
/****** Object:  View [security].[vu_users]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [security].[vu_users]
AS
SELECT        id AS user_sk, username, email, password, last_login, last_update AS updated_on, created AS created_on, user_ful_name AS user_full_name, 
                         usr_creatd_id AS created_by, del_dte, remarks, pswrd_expiry_dte, row_version, record_status, dynmc_url,is_login
FROM            security.users



GO
/****** Object:  View [security].[vu_user_menu_list]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [security].[vu_user_menu_list]
AS
SELECT        user_sk, user_cando_sk, activityid, activityparentid, activitytitle, can_view, can_add, can_edit, can_del, created_by, created_on, updated_by, row_version, 
                         record_status, isnull(role_sk,0) as role_sk, updated_on
FROM            (SELECT        rp.user_sk, cn.role_cando_sk AS user_cando_sk, cn.activityid, mnu.activityparentid, mnu.activitytitle, cn.can_view, cn.can_add, cn.can_edit, cn.can_del, 
                                                    cn.created_by, cn.created_on, cn.last_updated_by AS updated_by, cn.row_version, cn.record_status, cn.role_sk, cn.updated_on
                          FROM            security.vu_role_mst AS mst INNER JOIN
                                                    security.role_lvl_can_do AS cn ON mst.role_sk = cn.role_sk INNER JOIN
                                                    security.vu_mnu_activity AS mnu ON cn.activityid = mnu.activityid INNER JOIN
                                                    security.user_role_mapping AS rp ON mst.role_sk = rp.role_sk
                          UNION
                          SELECT        cn.user_id AS user_sk, cn.user_cando_sk, cn.activityid, mnu.activityparentid, mnu.activitytitle, cn.can_view, cn.can_add, cn.can_edit, cn.can_del, 
                                                   cn.created_by, cn.created_on, cn.last_updated_by AS updated_by, cn.row_version, cn.record_status, cn.role_id AS role_sk, cn.updated_on
                          FROM            security.vu_users AS mst INNER JOIN
                                                   security.user_lvl_can_do AS cn ON mst.user_sk = cn.user_id INNER JOIN
                                                   security.vu_mnu_activity AS mnu ON cn.activityid = mnu.activityid) AS t



GO
/****** Object:  View [security].[vu_user_login]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*JOIN setup.branch_mst br ON br.br_code = mp.br_code
INNER JOIN  security.user_br_mapping AS mp ON u.user_sk = mp.user_sk*/
CREATE VIEW [security].[vu_user_login]
AS
SELECT        user_sk, username, email, password, last_login, updated_on, created_on, user_full_name, created_by, del_dte, remarks, pswrd_expiry_dte, row_version, 
                         record_status, dynmc_url,is_login
FROM            security.vu_users AS u



GO
/****** Object:  View [security].[vu_user_urls]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View: security.vu_user_urls

-- DROP VIEW security.vu_user_urls;

CREATE VIEW [security].[vu_user_urls]
 AS
 SELECT a.activityid,
    a.user_sk,
    a.can_view,
    a.can_add,
    a.can_edit,
    a.can_del,
    a.activitytitle,
    a.activityurl,
    a.activityparentid,
    a.activitydisc,
    a.activiticon,
    a.module_nme
   FROM ( SELECT DISTINCT mnu.activityid,
            mst.user_sk,
            ac.can_view,
            ac.can_add,
            ac.can_edit,
            ac.can_del,
            mnu.activitytitle,
            mnu.activityurl,
            mnu.activityparentid,
            mnu.activitydisc,
            mnu.activiticon,
            mnu.module_nme
           FROM security.vu_users mst,
            security.user_lvl_can_do ac,
            security.mnu_activity mnu
          WHERE mst.user_sk = ac.user_id AND ac.activityid = mnu.activityid
         ) a
UNION
 SELECT b.activityid,
    b.user_sk,
    b.can_view,
    b.can_add,
    b.can_edit,
    b.can_del,
    b.activitytitle,
    b.activityurl,
    b.activityparentid,
    b.activitydisc,
    b.activiticon,
    b.module_nme
   FROM ( SELECT DISTINCT mnu.activityid,
            mst.user_sk,
            ac.can_view,
            ac.can_add,
            ac.can_edit,
            ac.can_del,
            mnu.activitytitle,
            mnu.activityurl,
            mnu.activityparentid,
            mnu.activitydisc,
            mnu.activiticon,
            mnu.module_nme
           FROM security.vu_users mst,
            security.role_lvl_can_do ac,
            security.mnu_activity mnu
          WHERE ac.activityid = mnu.activityid
          ) b
  



GO
/****** Object:  View [security].[vu_user_br_mapping_aprv]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_user_br_mapping_aprv]
 AS
 SELECT user_br_mapping_aprv.mapping_sk,
    user_br_mapping_aprv.br_code,
    user_br_mapping_aprv.user_sk,
    user_br_mapping_aprv.is_default,
    user_br_mapping_aprv.record_status,
    user_br_mapping_aprv.row_version,
    user_br_mapping_aprv.created_on,
    user_br_mapping_aprv.created_by,
    user_br_mapping_aprv.updated_on,
    user_br_mapping_aprv.updated_by
   FROM security.user_br_mapping as user_br_mapping_aprv;

GO
/****** Object:  View [security].[vu_user_role_mapping]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  VIEW [security].[vu_user_role_mapping]
 AS
 SELECT user_role_mapping.usr_rol_mapping_sk,
    user_role_mapping.user_sk,
    user_role_mapping.role_sk,
    user_role_mapping.created_on,
    user_role_mapping.created_by
   FROM security.user_role_mapping;


GO
/****** Object:  View [security].[vu_users_list]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_users_list]
AS
SELECT        a.user_sk, a.user_full_name, a.username, a.remarks, br_desc = STUFF
                             ((SELECT        ', ' + b.br_desc
                                 FROM            branch_mst b INNER JOIN
                                                          security.vu_user_br_mapping_aprv AS br ON br.user_sk = a.user_sk
                                 WHERE        b.br_code = br.br_code FOR XML PATH('')), 1, 2, ''), role_desc = STUFF
                             ((SELECT        ', ' + b.role_desc
                                 FROM            security.role_mst b INNER JOIN
                                                          security.vu_user_role_mapping AS rl ON rl.user_sk = a.user_sk
                                 WHERE        b.role_sk = rl.role_sk FOR XML PATH('')), 1, 2, '')
								 ,case when a.record_status = 1 THEN 'Inactive' Else 'Active' end as status_desc
FROM            security.vu_users a
GROUP BY a.user_sk, a.user_full_name, a.username, a.remarks,a.record_status


GO
/****** Object:  View [security].[vu_role_mst_aprv]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_role_mst_aprv]
AS
SELECT        r.role_sk, r.role_desc, r.status_sk, r.record_status, r.created_by, r.created_on, r.row_version, r.updated_by, r.updated_on, s.status_desc
FROM            security.role_mst AS r INNER JOIN
                         dbo.status_mst AS s ON r.status_sk = s.status_sk


GO
/****** Object:  View [security].[vu_roles_list]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [security].[vu_roles_list]
 AS
 SELECT aprv.role_sk,
    aprv.role_desc,
    aprv.status_sk,
    st.status_desc
   FROM security.vu_role_mst_aprv aprv
     JOIN status_mst st ON st.status_sk = aprv.status_sk;

GO
/****** Object:  View [security].[vu_role_menu_list]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_role_menu_list]
 AS
 SELECT mst.role_sk,
    cn.role_cando_sk,
    cn.activityid,
    mnu.activityparentid,
    mnu.activitytitle,
    can_view,
    can_add,
    cn.can_edit,
    cn.can_del,
    cn.created_by,
    cn.created_on,
    --cn.updated_by,
    cn.row_version,
    cn.record_status,
    cn.updated_on
   FROM security.vu_role_mst_aprv mst
     JOIN security.role_lvl_can_do cn ON mst.role_sk = cn.role_sk
     JOIN security.vu_mnu_activity mnu ON cn.activityid = mnu.activityid;

GO
/****** Object:  View [security].[vu_role_lvl_can_do_aprv]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_role_lvl_can_do_aprv]
 AS
 SELECT role_lvl_can_do.role_cando_sk,
    role_lvl_can_do.activityid,
    role_lvl_can_do.can_view,
    role_lvl_can_do.can_add,
    role_lvl_can_do.can_edit,
    role_lvl_can_do.can_del,
    role_lvl_can_do.created_by,
    role_lvl_can_do.last_updated_by AS updated_by,
    role_lvl_can_do.row_version,
    role_lvl_can_do.record_status,
    role_lvl_can_do.role_sk,
    role_lvl_can_do.created_on,
    role_lvl_can_do.updated_on
   FROM security.role_lvl_can_do;

GO
/****** Object:  View [security].[vu_user_lock]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_user_lock]
 AS
 SELECT user_login_lock.usr_sk,
    max(user_login_lock.lck_dt_tm) AS lck_dt_tm
   FROM security.user_login_lock
  GROUP BY user_login_lock.usr_sk;




GO
/****** Object:  View [security].[vu_user_lvl_can_do_aprv]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View: security.vu_user_lvl_can_do_aprv

-- DROP VIEW security.vu_user_lvl_can_do_aprv;

CREATE VIEW [security].[vu_user_lvl_can_do_aprv]
 AS
 SELECT user_lvl_can_do_aprv.user_cando_sk,
    user_lvl_can_do_aprv.user_id AS user_sk,
    user_lvl_can_do_aprv.activityid,
    user_lvl_can_do_aprv.can_view,
    user_lvl_can_do_aprv.can_add,
    user_lvl_can_do_aprv.can_edit,
    user_lvl_can_do_aprv.can_del,
    user_lvl_can_do_aprv.created_by,
    user_lvl_can_do_aprv.last_updated_by as updated_by,
    user_lvl_can_do_aprv.row_version,
    user_lvl_can_do_aprv.record_status,
    user_lvl_can_do_aprv.created_on,
    user_lvl_can_do_aprv.updated_on
   FROM security.user_lvl_can_do as user_lvl_can_do_aprv;




GO
/****** Object:  View [security].[vu_user_role_mapping_aprv]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [security].[vu_user_role_mapping_aprv]
 AS
 SELECT user_role_mapping_aprv.usr_rol_mapping_sk,
    user_role_mapping_aprv.user_sk,
    user_role_mapping_aprv.role_sk,
    user_role_mapping_aprv.created_on,
    user_role_mapping_aprv.created_by,
    user_role_mapping_aprv.row_version
   FROM security.user_role_mapping as user_role_mapping_aprv;

GO
/****** Object:  View [security].[vu_users_aprv]    Script Date: 6/11/2022 5:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* View: security.vu_users_aprv
 DROP VIEW security.vu_users_aprv;*/
CREATE VIEW [security].[vu_users_aprv]
AS
SELECT        id, id AS user_sk, username, email, password, employee_id, default_module, user_level, last_login, last_update, created, created AS created_on, user_ful_name, 
                         user_ful_name AS user_full_name, usr_creatd_id, usr_creatd_id AS created_by, del_dte, remarks, pswrd_expiry_dte, comp_id, role_id, row_version, record_status, 
                         userid, jobstitle_id, status_sk, status, updated_on, updated_by, mobile_nbr, mobile_cntry_cde, creat_appr_flg, mt_code
FROM            security.users AS users_aprv


GO
SET IDENTITY_INSERT [dbo].[branch_mst] ON 

INSERT [dbo].[branch_mst] ([br_code], [br_desc], [created_by], [last_updated_by], [row_version], [record_status]) VALUES (1, N'TR-APP', 1, NULL, NULL, NULL)
INSERT [dbo].[branch_mst] ([br_code], [br_desc], [created_by], [last_updated_by], [row_version], [record_status]) VALUES (2, N'RH_APP', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[branch_mst] OFF
SET IDENTITY_INSERT [dbo].[country_mst] ON 

INSERT [dbo].[country_mst] ([country_sk], [country_desc], [region_sk], [row_version], [created_by], [create_dt_tme], [updated_by], [update_dt_tme], [record_status], [flag_id_sk], [img_url], [call_cde], [iban_len], [currency_sk], [phne_no_len]) VALUES (1, N'Pakistan', 0, 1, 1, CAST(0x0000AD8100CC209D AS DateTime), NULL, NULL, 0, 1, N'/flags/Pakistan-Flag-32.png', N'+92', 24, 147, 10)
INSERT [dbo].[country_mst] ([country_sk], [country_desc], [region_sk], [row_version], [created_by], [create_dt_tme], [updated_by], [update_dt_tme], [record_status], [flag_id_sk], [img_url], [call_cde], [iban_len], [currency_sk], [phne_no_len]) VALUES (2, N'United Arab Emirates', 0, 0, 1, CAST(0x0000AD8100CC3E4C AS DateTime), NULL, NULL, 0, 1, N'/flags/United-Arab-Emirates-32.png', N'+971', 23, 204, 11)
SET IDENTITY_INSERT [dbo].[country_mst] OFF
SET IDENTITY_INSERT [dbo].[status_mst] ON 

INSERT [dbo].[status_mst] ([status_sk], [status_desc], [row_version], [created_by], [create_dt_tme], [updated_by], [update_dt_tme], [record_status]) VALUES (1, N'Active', 0, NULL, CAST(0x0000AD7F01010911 AS DateTime), NULL, NULL, 0)
INSERT [dbo].[status_mst] ([status_sk], [status_desc], [row_version], [created_by], [create_dt_tme], [updated_by], [update_dt_tme], [record_status]) VALUES (2, N'Inactive', 0, NULL, CAST(0x0000AD7F0101104B AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[status_mst] OFF
INSERT [security].[login_history] ([lgn_hst_sk], [usr_sk], [cntr], [row_version], [dynmc_url], [Login_DTE_TME], [Logout_DTE_TME]) VALUES (1, 1, 0, 0, N'OPZZQATOFO', CAST(0x0000AE4B012198C1 AS DateTime), CAST(0x0000AE4B01245774 AS DateTime))
INSERT [security].[login_history] ([lgn_hst_sk], [usr_sk], [cntr], [row_version], [dynmc_url], [Login_DTE_TME], [Logout_DTE_TME]) VALUES (2, 1, 0, 0, N'JNWMLKKSKJ', CAST(0x0000AE4C00BEE49C AS DateTime), CAST(0x0000AE4C00BEFE24 AS DateTime))
INSERT [security].[login_history] ([lgn_hst_sk], [usr_sk], [cntr], [row_version], [dynmc_url], [Login_DTE_TME], [Logout_DTE_TME]) VALUES (3, 1, 0, 0, N'ICNBXQKCDU', CAST(0x0000AE4C00C07932 AS DateTime), CAST(0x0000AE4C00C09018 AS DateTime))
GO
SET IDENTITY_INSERT [security].[mnu_activity] ON 

INSERT [security].[mnu_activity] ([activityid], [activitytitle], [activityurl], [activityparentid], [activitydisc], [activiticon], [module_nme], [activityattr]) VALUES (2, N'User Management', N'#', 0, NULL, N'fa fa-cog', N'User Management', NULL)
INSERT [security].[mnu_activity] ([activityid], [activitytitle], [activityurl], [activityparentid], [activitydisc], [activiticon], [module_nme], [activityattr]) VALUES (3, N'User Access', N'/UserManagement/User', 2, NULL, N'fa fa-users', NULL, NULL)
INSERT [security].[mnu_activity] ([activityid], [activitytitle], [activityurl], [activityparentid], [activitydisc], [activiticon], [module_nme], [activityattr]) VALUES (4, N'Role Access', N'/UserManagement/Role', 2, NULL, N'fa fa-sitemap', NULL, NULL)
SET IDENTITY_INSERT [security].[mnu_activity] OFF
SET IDENTITY_INSERT [security].[role_lvl_can_do] ON 

INSERT [security].[role_lvl_can_do] ([role_cando_sk], [activityid], [can_view], [can_add], [can_edit], [can_del], [created_by], [last_updated_by], [row_version], [record_status], [role_sk], [created_on], [updated_on]) VALUES (26, 2, 1, 2, 4, 8, 1, NULL, 0, 0, 1, NULL, NULL)
INSERT [security].[role_lvl_can_do] ([role_cando_sk], [activityid], [can_view], [can_add], [can_edit], [can_del], [created_by], [last_updated_by], [row_version], [record_status], [role_sk], [created_on], [updated_on]) VALUES (27, 2, 1, 2, 4, 8, 1, NULL, 0, 0, 2, NULL, NULL)
INSERT [security].[role_lvl_can_do] ([role_cando_sk], [activityid], [can_view], [can_add], [can_edit], [can_del], [created_by], [last_updated_by], [row_version], [record_status], [role_sk], [created_on], [updated_on]) VALUES (28, 2, 1, 2, 4, 8, 1, NULL, 0, 0, 3, NULL, NULL)
SET IDENTITY_INSERT [security].[role_lvl_can_do] OFF
SET IDENTITY_INSERT [security].[role_mst] ON 

INSERT [security].[role_mst] ([role_sk], [role_desc], [status_sk], [record_status], [created_by], [created_on], [row_version], [updated_by], [updated_on], [status]) VALUES (1, N'Admin', 1, 0, 1, CAST(0x0000ACB400BDD90E AS DateTime), 0, 0, CAST(0x0000ACB400BDD90E AS DateTime), NULL)
INSERT [security].[role_mst] ([role_sk], [role_desc], [status_sk], [record_status], [created_by], [created_on], [row_version], [updated_by], [updated_on], [status]) VALUES (2, N'Creator', 1, 0, 1, CAST(0x0000ACB400BDD90E AS DateTime), 0, 0, CAST(0x0000ACB400BDD90E AS DateTime), NULL)
INSERT [security].[role_mst] ([role_sk], [role_desc], [status_sk], [record_status], [created_by], [created_on], [row_version], [updated_by], [updated_on], [status]) VALUES (3, N'test', 1, 0, 1, CAST(0x0000AD810100C336 AS DateTime), 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [security].[role_mst] OFF
SET IDENTITY_INSERT [security].[token_expire] ON 

INSERT [security].[token_expire] ([row_sk], [user_sk], [token_payload], [token_issue_dtme], [is_token_exp], [token_expired_by], [token_mark_invalid_dtme], [remarks], [row_version]) VALUES (1, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzNjVjNDYwNy03YWQzLTQ3YzgtODIwYi05MTZiNjBjMGNjYmUiLCJ2YWxpZCI6IjEiLCJ1c2VyIjoibUVMaXJwVWhSWWtzRmo3azgvWEJjUT09IiwiZXhwIjoxNjIyNDU4NjE1LCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjE0ODkxLyIsImF1ZCI6Imh0dHA6Ly9sb2NhbGhvc3Q6MTQ4OTEvIn0.WY16bqwXt-fkC9KuS5-iLrewXaYmzZrlMFkwICOKzXg', CAST(0x0000AD380106D3A0 AS DateTime), 0, NULL, NULL, NULL, 0)
INSERT [security].[token_expire] ([row_sk], [user_sk], [token_payload], [token_issue_dtme], [is_token_exp], [token_expired_by], [token_mark_invalid_dtme], [remarks], [row_version]) VALUES (2, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIxNTk3MWRmYi00YzM2LTQ4YTUtOGIxZC00MjJmODMxZGVlYzgiLCJ2YWxpZCI6IjEiLCJ1c2VyIjoibUVMaXJwVWhSWWtzRmo3azgvWEJjUT09IiwiZXhwIjoxNjIyNDU5MDkxLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjE0ODkxLyIsImF1ZCI6Imh0dHA6Ly9sb2NhbGhvc3Q6MTQ4OTEvIn0.eGUY40oQoc9QTqYURvL3yYkock321x51CL8llb1fgWo', CAST(0x0000AD38010901CA AS DateTime), 0, NULL, NULL, NULL, 0)
INSERT [security].[token_expire] ([row_sk], [user_sk], [token_payload], [token_issue_dtme], [is_token_exp], [token_expired_by], [token_mark_invalid_dtme], [remarks], [row_version]) VALUES (3, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIyOWI1YmRjYy1hZDAzLTRkMjktYjNiNi1jMWM3YWI2NDllMmIiLCJ2YWxpZCI6IjEiLCJ1c2VyIjoibUVMaXJwVWhSWWtzRmo3azgvWEJjUT09IiwiZXhwIjoxNjIyNDU5Mzc2LCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjE0ODkxLyIsImF1ZCI6Imh0dHA6Ly9sb2NhbGhvc3Q6MTQ4OTEvIn0.LMOMp2nEPXj6n19ZV9JZ8qo5tdtl66lL-z4myM_9gnI', CAST(0x0000AD38010A4F0F AS DateTime), 0, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [security].[token_expire] OFF
SET IDENTITY_INSERT [security].[user_br_mapping] ON 

INSERT [security].[user_br_mapping] ([mapping_sk], [br_code], [user_sk], [is_default], [record_status], [row_version], [created_on], [created_by], [updated_on], [updated_by]) VALUES (1003, 2, 2, 0, 0, 0, CAST(0x0000AD9000ABF5D0 AS DateTime), 1, NULL, 0)
INSERT [security].[user_br_mapping] ([mapping_sk], [br_code], [user_sk], [is_default], [record_status], [row_version], [created_on], [created_by], [updated_on], [updated_by]) VALUES (1004, 1, 2, 0, 0, 0, CAST(0x0000AD9000ABF5DE AS DateTime), 1, NULL, 0)
INSERT [security].[user_br_mapping] ([mapping_sk], [br_code], [user_sk], [is_default], [record_status], [row_version], [created_on], [created_by], [updated_on], [updated_by]) VALUES (1010, 1, 3, 0, 0, 0, CAST(0x0000AD9200D009CE AS DateTime), 1, NULL, 0)
SET IDENTITY_INSERT [security].[user_br_mapping] OFF
SET IDENTITY_INSERT [security].[user_lvl_can_do] ON 

INSERT [security].[user_lvl_can_do] ([user_cando_sk], [user_id], [activityid], [can_view], [can_add], [can_edit], [can_del], [created_by], [last_updated_by], [row_version], [record_status], [role_id], [created_on], [updated_on]) VALUES (2, 1, 3, 1, 2, 4, 8, 1, 1, 2, 0, NULL, CAST(0x0000AD9400C4593C AS DateTime), CAST(0x0000AEA10129C8A8 AS DateTime))
INSERT [security].[user_lvl_can_do] ([user_cando_sk], [user_id], [activityid], [can_view], [can_add], [can_edit], [can_del], [created_by], [last_updated_by], [row_version], [record_status], [role_id], [created_on], [updated_on]) VALUES (3, 1, 4, 1, 2, 4, 8, 1, 1, 2, 0, NULL, CAST(0x0000AD9400C4593C AS DateTime), CAST(0x0000AEA10129C8A8 AS DateTime))
INSERT [security].[user_lvl_can_do] ([user_cando_sk], [user_id], [activityid], [can_view], [can_add], [can_edit], [can_del], [created_by], [last_updated_by], [row_version], [record_status], [role_id], [created_on], [updated_on]) VALUES (21, 1, 4, 1, 2, 4, 8, 1, 1, 2, 0, NULL, CAST(0x0000AD9400C4593C AS DateTime), CAST(0x0000AE6A0101B3B7 AS DateTime))
SET IDENTITY_INSERT [security].[user_lvl_can_do] OFF
SET IDENTITY_INSERT [security].[user_role_mapping] ON 

INSERT [security].[user_role_mapping] ([usr_rol_mapping_sk], [user_sk], [role_sk], [created_on], [created_by], [row_version]) VALUES (1004, 2, 2, CAST(0x0000AD9000ABF67B AS DateTime), 1, 0)
INSERT [security].[user_role_mapping] ([usr_rol_mapping_sk], [user_sk], [role_sk], [created_on], [created_by], [row_version]) VALUES (1005, 2, 4, CAST(0x0000AD9000ABF687 AS DateTime), 1, 0)
INSERT [security].[user_role_mapping] ([usr_rol_mapping_sk], [user_sk], [role_sk], [created_on], [created_by], [row_version]) VALUES (1011, 3, 2, CAST(0x0000AD9200D009E8 AS DateTime), 1, 0)
SET IDENTITY_INSERT [security].[user_role_mapping] OFF
ALTER TABLE [dbo].[country_mst] ADD  CONSTRAINT [DF__country_m__row_v__4AB81AF0]  DEFAULT ((0)) FOR [row_version]
GO
ALTER TABLE [dbo].[country_mst] ADD  CONSTRAINT [DF__country_m__creat__4BAC3F29]  DEFAULT (getdate()) FOR [create_dt_tme]
GO
ALTER TABLE [dbo].[country_mst] ADD  CONSTRAINT [DF__country_m__recor__4CA06362]  DEFAULT ((0)) FOR [record_status]
GO
ALTER TABLE [dbo].[status_mst] ADD  CONSTRAINT [DF__status_ms__row_v__38996AB5]  DEFAULT ((0)) FOR [row_version]
GO
ALTER TABLE [dbo].[status_mst] ADD  CONSTRAINT [DF__status_ms__creat__398D8EEE]  DEFAULT (getdate()) FOR [create_dt_tme]
GO
ALTER TABLE [dbo].[status_mst] ADD  CONSTRAINT [DF__status_ms__recor__3A81B327]  DEFAULT ((0)) FOR [record_status]
GO
ALTER TABLE [security].[role_lvl_can_do] ADD  CONSTRAINT [DF__role_lvl___row_v__1A14E395]  DEFAULT ((0)) FOR [row_version]
GO
ALTER TABLE [security].[role_lvl_can_do] ADD  CONSTRAINT [DF__role_lvl___recor__1B0907CE]  DEFAULT ((0)) FOR [record_status]
GO
ALTER TABLE [security].[token_expire] ADD  CONSTRAINT [DF__token_exp__row_v__2F10007B]  DEFAULT ((0)) FOR [row_version]
GO
ALTER TABLE [security].[user_lvl_can_do] ADD  CONSTRAINT [DF__user_lvl___row_v__164452B1]  DEFAULT ((0)) FOR [row_version]
GO
ALTER TABLE [security].[user_lvl_can_do] ADD  CONSTRAINT [DF__user_lvl___recor__173876EA]  DEFAULT ((0)) FOR [record_status]
GO
ALTER TABLE [security].[users] ADD  CONSTRAINT [DF__users__row_versi__1273C1CD]  DEFAULT ((0)) FOR [row_version]
GO
ALTER TABLE [security].[users] ADD  CONSTRAINT [DF__users__record_st__1367E606]  DEFAULT ((0)) FOR [record_status]
GO
ALTER TABLE [security].[users] ADD  CONSTRAINT [DF_users_is_login]  DEFAULT ((0)) FOR [is_login]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "r"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 135
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_role_mst_aprv'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_role_mst_aprv'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "u"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 217
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_user_login'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_user_login'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 209
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_user_menu_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_user_menu_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "users (security)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_users'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_users'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "users_aprv"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 217
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_users_aprv'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_users_aprv'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_users_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'security', @level1type=N'VIEW',@level1name=N'vu_users_list'
GO
